---
- name: Create requirements.txt from template
  ansible.builtin.template:
    src: "{{ lookup('ansible.builtin.first_found', template_sources) }}"
    dest: "{{ odoo_role_odoo_modules_path }}/requirements.txt"
    owner: "{{ odoo_role_odoo_user }}"
    group: "{{ odoo_role_odoo_group }}"
    mode: 0644
  vars:
    template_sources:
      - "{{ inventory_dir }}/../files/requirements.txt"
      - templates/requirements.txt.j2
  tags: ['community-modules', 'only-modules']

- name: Deploy community roles with pip
  pip:
    requirements: "{{ odoo_role_odoo_modules_path }}/requirements.txt"
    virtualenv: "{{ odoo_role_odoo_venv_path }}"
  register: reg_pip
  become: true
  become_user: "{{ odoo_role_odoo_user }}"
  tags: ['community-modules', 'only-modules']
  # Using the output of pip, detect which packages have been installed,
  # both fresh or upgraded. Save the list with a register so that we can
  # feed better odoo with it.

- name: Detect upgraded packages
  args:
    # Example input (delete '# ' from each line below)
    #
    # Installing collected packages: odoo11-addon-account-financial-report
    # Found existing installation: odoo11-addon-account-financial-report 11.0.2.4.3
    # Uninstalling odoo11-addon-account-financial-report-11.0.2.4.3:
    #  Successfully uninstalled odoo11-addon-account-financial-report-11.0.2.4.3
    # Successfully installed odoo11-addon-account-financial-report-11.0.2.5.1.99.dev12 odoo11-addon-l10n-es-aeat-mod303-11.0.2.1.0
    stdin: "{{ reg_pip.stdout }}"
    executable: bash
  # Expected "output" using input from above (delete '# ' from each line below)
  # note: "output" means `reg_pip_upgraded.stdout`
  # note: to debug the second regexp you can use https://regexr.com/4l2c3
  #
  # account-financial-report
  # l10n-es-aeat-mod303

  # About sed:
  # - option `-r` switches to standard perl regexp, instead of GNU ones. Similar to `egrep` or `grep -E`
  # - option `-n` combined with flag `/p` prints "nothing" except the result of the script. Therefore, unmatching lines are hidden, and matching lines are shown after processed.
  # - capturing groups `(something)` can be referenced inside the matching part or at the replacing part with \1, \2, in order of appearence.
  shell: >
    grep 'Successfully installed' |
    sed -r 's/ /\n/g' |
    sed -rn 's/^odoo(1[0-9])-addon-(.+)-\1\..+$/\2/p' |
    tr '-' '_'
  register: reg_pip_upgraded
  changed_when: reg_pip_upgraded.stdout
  failed_when: false # noqa 306 "shell and pipefail". Both grep and sed must be able to fail
  tags: ['community-modules', 'only-modules']
