---
- import_tasks: create-user.yml

- name: Install system packages
  become: yes
  apt:
    update_cache: yes
    pkg: "{{ item }}"
    state: present
  with_items:
    - build-essential
    - python-dev
    - python3-dev
    - libxml2
    - libxml2-dev
    - libxslt1-dev
    - libssl-dev
    - libldap2-dev
    - libsasl2-dev
    - git

- import_tasks: wkhtmltopdf.yml
  tags: pdf

- import_tasks: virtualenv.yml

- name: Create Odoo directories
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ odoo_role_odoo_user }}"
    group: "{{ odoo_role_odoo_group }}"
    mode: 02775
  with_items:
    - "{{ odoo_role_odoo_path }}"
    - "{{ odoo_role_odoo_config_path }}"
    - "{{ odoo_role_odoo_modules_path }}"

- name: Create log dir
  become: yes
  file:
    path: "{{ odoo_role_odoo_log_path }}"
    state: directory
    group: "{{ odoo_role_odoo_group }}"
    mode: 02775

- name: Create log file
  become: yes
  file:
    path: "{{ odoo_role_odoo_log_path }}/odoo.log"
    group: "{{ odoo_role_odoo_group }}"
    state: touch
    mode: 02775

- import_tasks: download.yml

- name: Install Odoo python requirements
  pip:
    requirements: "{{ odoo_role_odoo_path }}/requirements.txt"
    virtualenv: "{{ odoo_role_odoo_venv_path }}"

- name: Install nodejs packages
  become: yes
  apt:
    pkg: "{{ item }}"
    state: present
  with_items:
    - nodejs
    - npm

- name: Install Less CSS via nodejs
  become: yes
  npm:
    name: less
    version: 2.7.2
    global: yes

- name: Create node symlink
  become: yes
  file:
    src: /usr/bin/nodejs
    dest: /usr/bin/node
    state: link

- name: Get installed Odoo version (if any)
  shell: "{{ odoo_role_odoo_python_path }} {{ odoo_role_odoo_bin_path }} --version | cut -d ' ' -f 3"
  register: odoo_installed_version

- name: Install Odoo
  become_user: "{{ odoo_role_odoo_user }}"
  vars:
    odoo_required_version: "{{ odoo_role_odoo_version }}-{{ odoo_role_odoo_release }}"
  shell: "cd {{ odoo_role_odoo_path }} && {{ odoo_role_odoo_python_path }} setup.py install"
  when: not odoo_installed_version.stdout == odoo_required_version

- name: Add Odoo config
  become: yes
  template:
    src: odoo.conf.j2
    dest: "{{ odoo_role_odoo_config_path }}/odoo.conf"
    mode: 0774
    owner: "{{ odoo_role_odoo_user }}"
    group: "{{  odoo_role_odoo_group }}"

- name: Init Odoo database
  become: yes
  become_user: "{{ odoo_role_odoo_user }}"
  command: "{{ odoo_role_odoo_python_path }} {{ odoo_role_odoo_bin_path }} -c {{ odoo_role_odoo_config_path }}/odoo.conf -d {{ odoo_role_odoo_db_name }} --init {{ odoo_role_odoo_core_modules }} --stop-after-init --without-demo=all"

- import_tasks: add-service.yml
