[options]
; Log Settings
{% if not odoo_role_dev_mode %}
logfile = {{ odoo_role_odoo_log_path }}/odoo.log
{% endif %}
log_level = {{ odoo_role_odoo_log_level }}
{% if odoo_role_enable_queue_job and not odoo_role_enable_dbfilter_from_header %}
server_wide_modules = web,queue_job
{% elif not odoo_role_enable_queue_job and odoo_role_enable_dbfilter_from_header %}
server_wide_modules = web,dbfilter_from_header
{% elif odoo_role_enable_queue_job and odoo_role_enable_dbfilter_from_header %}
server_wide_modules = web,dbfilter_from_header,queue_job
{% endif %}
; Custom Modules
addons_path = {{ odoo_role_odoo_modules_path }}, {{ odoo_role_odoo_path }}/addons

; Master password to manage dbs
admin_passwd = {{ odoo_role_odoo_db_admin_password }}

; HTTP server settings
http_interface = {{ odoo_role_odoo_http_interface }}
proxy_mode = {{ odoo_role_odoo_proxy_mode }}

{% if odoo_role_force_leftmost_subdomain or (not odoo_role_enable_dbfilter_from_header and ( odoo_role_odoo_dbs | count ) > 1 and odoo_role_dbfilter_enabled) %}
{# We found troubles filtering by %h. It implies creating databases with dots in the name,
   and ansible resists to create dbs with such names, even though postgres suppports it #}
{#; Before login, use only the database that matches full domain of Host header
dbfilter = ^%h$ #}
; Before login, use only the database that matches the leftmost subdomain part of Host header
dbfilter = ^%d$
{% endif %}
; Allow to select another (not filtered by dbfilter) existing database and enable db manager
{# Avoid situation where odoo doesn't know what to show (dbfilter) nor can ask to (list_db) #}
{% if odoo_role_enable_queue_job or (( odoo_role_odoo_dbs | count ) > 1 and not odoo_role_dbfilter_enabled) %}
list_db = True
{% else %}
list_db = {{ odoo_role_list_db }}
{% endif %}

{% if odoo_role_db_port %}
db_port = {{ odoo_role_db_port }}
{% endif %}

; Ignore accents in searchs
unaccent = True

; Hack to avoid LC_COLLATE="C"
db_template = template1

{% if odoo_role_workers is defined and odoo_role_workers > 1 %}
; If workers > 1 are defined, add a /location in Nginx server for LongPolling
workers = {{ odoo_role_workers }}
{% endif %}

; Customize the Odoo timeouts
limit_time_cpu = {{ odoo_role_limit_time_cpu }}
limit_time_real = {{ odoo_role_limit_time_real }}

{% if odoo_role_enable_queue_job and odoo_role_channels %}
[queue_job]
channels = {{ odoo_role_channels }}
{% endif %}

{% if odoo_role_dev_mode and odoo_role_enabled_rest_framework %}
[base_rest]
dev_mode=True
{% endif %}

{% if odoo_role_enable_sentry and odoo_role_sentry_dsn %}
[sentry]
sentry_dsn = {{ odoo_role_sentry_dsn }}
sentry_enabled = True
{% endif %}
