[options]
; Log Settings
{% if not odoo_role_dev_mode %}
logfile = {{ odoo_role_odoo_log_path }}/odoo.log
{% endif %}
log_level = {{ odoo_role_odoo_log_level }}

; Custom Modules
addons_path = {{ odoo_role_odoo_path }}/addons,{{ odoo_role_odoo_modules_path }}

; Master password to manage dbs
admin_passwd = {{ odoo_role_odoo_db_admin_password }}

; HTTP server settings
http_interface = {{ odoo_role_odoo_http_interface }}
proxy_mode = {{ odoo_role_odoo_proxy_mode }}

{% if ( odoo_role_odoo_dbs | count ) > 1 and odoo_role_dbfilter_enabled %}
{# We found troubles filtering by %h. It implies creating databases with dots in the name,
   and ansible resists to create dbs with such names, even though postgres suppports it #}
{#; Before login, use only the database that matches full domain of Host header
dbfilter = ^%h$ #}
; Before login, use only the database that matches the leftmost subdomain part of Host header
dbfilter = ^%d$
{% endif %}
; Allow to select another (not filtered by dbfilter) existing database and enable db manager
{# Avoid situation where odoo doesn't know what to show (dbfilter) nor can ask to (list_db) #}
{% if ( odoo_role_odoo_dbs | count ) > 1 and not odoo_role_dbfilter_enabled %}
list_db = True
{% else %}
list_db = {{ odoo_role_list_db }}
{% endif %}

; Ignore accents in searchs
unaccent = True

; Hack to avoid LC_COLLATE="C"
db_template = template1
